body {
  margin: 10px;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: radial-gradient(circle, #000000, #000000);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.signup,
.brainmap,
.chat {
  color: #fff;
  margin: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  width: 80%;
  transition: transform 0.3s, background-color 0.3s;
}

.brainmap:hover,
.signup:hover,
.chat:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
}

.brainmap-placeholder {
  /* Add your brain map styling here */
}

.user-input {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}

button {
  background: grey;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

button:hover {
  background: #555;
}

a {
  color: white;
}

.user-input {
  justify-content: center;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: center;
    size: 50%;
  }

  .menu {
    text-align: center;
  }

  .menu li {
    display: block;
    margin: 10px 0;
  }

  .signup,
  .brainmap,
  .chat {
    width: 100%;
    justify-content: center;
    padding: 10px;
  }

  header {
    font-size: 24px; /* Increase font size for better readability on mobile */
  }
}

.tooltip {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  opacity: 0;
  font-size: 14px;
  pointer-events: none;
}

/* Dimming effect for the background */
.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Set initial opacity to 0 */
  z-index: 1000;
  display: none;
  opacity: 0;
  pointer-events: none; /* Disable pointer events when not visible */
  transition: opacity 0.3s; /* Add a transition for smooth fade-in/fade-out */
}

/* Highlight effect for the node */
.highlighted {
  fill: rgb(82, 7, 82); /* Change the color as needed */
}

#graph-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
