

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");

/* Apply styles to the body */
body {
  margin-top: 100px;
  background-color: black;
  font-size: 25px; /* Use the appropriate Nimbus Sans font family */
}

/* Style <h2> elements */
h2 {
  font-weight: 800;
  font-size: 60px;
  padding-top: 30px;
  font-family: "Inter", sans-serif;
  margin-left: 300px; /* Adjust margin for mobile */
  margin-right: 300px; /* Adjust margin for mobile */
  color: #d3d3d3;
}

/* Additional styles for <h2> elements on smaller screens */

/* Style <p> elements */
p {
  padding-top: 20px;
  margin-left: 300px; /* Adjust margin for mobile */
  margin-right: 300px; /* Adjust margin for mobile */
  font-family: "Inter", sans-serif;
  color: #d3d3d3;
  font-weight: lighter;
}

/* Additional styles for <p> elements on smaller screens */
@media (max-width: 768px) {
  p {
    padding-top: 10px;
    font-size: 20px;
    margin-left: 20px; /* Adjust margin for mobile */
    margin-right: 20px;
    font-family: "Inter", sans-serif;
  }
}

@media (max-width: 768px) {
  h2 {
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: "Inter", sans-serif;

    font-weight: 800;
  }
}

/* Style links */
a {
  color: #d3d3d3;
}
